body {
	margin: 0;
}
	h1{
	font-family: 'Muli', Helvetica, sans-serif;
	font-size: 2.25em;
}

#nav {
  padding: 10px;
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: space-between;

	  background-color:black;
}

#nav ul {
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		text-decoration: none;
		display: none;

}

#nav a:link, #nav a:visited {
		display:flex;
    color: #ffffff;
text-decoration: none;
    font-weight: lighter;
    text-align:center;

    font-family: 'Muli', Helvetica, sans-serif;
		width: 100%;
}

#nav a:hover, a:active {
    background-color: #949399;
}

#nav ul:last-of-type a {
	border-bottom:none;
}

.background{
	margin-left:50px;
	margin-right: 50px;
	text-align: justify;
	padding-top: 25px;
}

h2{
	padding-top: 20px;
	font-family: 'Muli', Helvetica, sans-serif;
}

.info{
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

footer{
	font-style: italic;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pic{
	padding-top: 25px;
}

img{
	width: 100%
	height: auto;
}

.title{
	margin-top: auto;
	margin-left: 50px;
	font-size: 1.5em;
}

.source{
	margin-left: 60px;
	color: #949399;
	text-decoration: none;
	font-size: 1.25em;
}

#column{
	column-count: 3;
	column-gap: 75px;
	margin-top: 50px;
}

p{
	font-family: 'Muli', Helvetica, sans-serif;
}
